.row {
  display: flex;
  flex: 50%;
}

.column {
  flex: 100%;
  margin: 4%;
}

.column2 {
  flex: 100%;
  margin: 4%;

  justify-content: right;
}

.org {
  list-style: none;
  display: flex;
  float: left;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  /* background-position: 100%; */
}

