.coursestyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 21%;
  padding-bottom: 0px;
  /* margin-bottom: 2px; */
  
}

.coursestylecontainer {
  border: solid #c18489;
  border-radius: 1%;
  padding-top: 10px;
  padding-bottom: 0px;
}

